<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="center center">

    <div id="login-intro">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="logo" style="width: 270px; display: flex; text-align: center;" [@animate]="{value:'*',params:{scale:'0.2'}}">
                
                <mat-icon style="font-size: 128px; color: yellow; width: 100%; height: 100%;">flash_on</mat-icon>
            </div>

            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
                Alonzo Management
            </div>

            <div style="margin-bottom: 48px;" class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                Welcome. Please log in for access.
            </div>

            <div style="width: 100%; margin: 0 auto; margin-bottom: 16px; display: block;">
                <button (click)="login()" style="width: 100%" mat-raised-button color="accent" class="submit-button" aria-label="LOGIN">
                    LOGIN
                </button>
            </div>
        </div>
    </div>
</div>